.banner-intro {
    background-color: navy;
    color: white;
    min-height: 100vh
}

.banner-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 200px;
    text-align: center;
    height: 5vh;
}

.banner-image {
    height: 85vh;
}

.banner-button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 200px;
    text-align: center;
    height: 5vh;
}

.sun {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    border-radius:100%;
    box-shadow: 0px 0px 0px 0px white;
}

.App-logo {
    min-height: 40vmin;
    height: 40vmin;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    padding: auto;
    pointer-events: none;
    -webkit-box-shadow: 0px 0px 300px 94px rgba(73,155,234,1);
    -moz-box-shadow: 0px 0px 300px 94px rgba(73,155,234,1);
    box-shadow: 0px 0px 300px 94px rgba(73,155,234,1);
    border-radius: 100%;
}

.ray_box {
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
}

@-webkit-keyframes ray_anim {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.font-awesome-home {
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 48px;
    color: white;
}
