.diamond-right, .diamond-right:hover {
    display: inline-block;
    border: 51px solid transparent;
    transform: rotate(90deg);
    border-bottom-color: black;}

.diamond-left, .diamond-left:hover {
    display: inline-block;
    border: 51px solid transparent;
    transform: rotate(-90deg);
    border-bottom-color: black;
}

.square {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 80%;
    height: 100px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    color: black;
    padding-top: 80px;
}

p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
    display:inline-table;
}

.font-awesome-home {
    padding: 10px;
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    font-size: 48px;
    color: black;
}


